{% extends 'app/base.html' %}
{% load static %} 
{% load widget_tweaks %} 
{% block content %}




<!--ここからもう一回書くよ！参考はこの動画https://www.youtube.com/watch?v=VIUY95ewjSU -->
<script>
        function getvalues()
        {
            var selected=new Array();
            var chkbox=document.getElementById("tab1");
            var selchk=chkbox.getElementsByTagName("input");
            for(var i=0; i<selchk.length; i++)
            {
                if(selchk[i].checked)
                {
                    selected.push(selchk[i].value);
                }
            }
            if(selected.length>0)
            {
                //データベースから得た値を結合し、リンクを生成する
                var str = selected.join("");
                var calendarlink = "https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=Asia%2FTokyo&title=%E5%85%AC%E6%BC%94%E3%82%B9%E3%82%B1%E3%82%B8%E3%83%A5%E3%83%BC%E3%83%AB" + str
                var calendars = document.getElementById("displayvalues").innerHTML=calendarlink;
                displayvalues.style.display ="none";
                document.getElementById("ifr").contentWindow.location.href=calendars;
            
                
            };
        };
        
        
        //function output () {
        //    return calendars;}


</script>
    
    <h1>Stagement</h1>
    <!--JSを書く-->
    
    <p>舞台のスケジュールを表示するサイトです。</p>
    <p>劇場名または組名のチェックボックスにチェックを入れ、「カレンダーを表示」ボタンを押すとカレンダーに反映されます。</p>
    
    <hr>
    <div id="tab1">
        <!--選択肢を表示-->
        {% for resultdisplay in troupes %}
            <input type="checkbox" value="{{resultdisplay.link}}"/>{{resultdisplay.troupe}}
        {% endfor %}

    </div>
        
        <!--実行ボタン-->
        <input id="but1" type="button" value="カレンダーを表示" onclick="getvalues()"/>
        <p id="displayvalues"></p>

    <div>
                <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=Asia%2FTokyo&title=%E5%85%AC%E6%BC%94%E3%82%B9%E3%82%B1%E3%82%B8%E3%83%A5%E3%83%BC%E3%83%AB" id="ifr" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>

    <script>
    //    document.getElementById("ifr").src=output();

    </script>

    {{ calendar_data }}

    <div id="calendar"></div>

{% endblock %}

<!--
        カレンダーのリンク構成
        <iframe src="共通の枠部分
                &src=カレンダー１&src=カレンダー２
                &カレンダー１の色&カレンダー２の色" 
                style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
-->
